@charset "utf-8";

#dl_bg{background-color:whitesmoke;width: auto;min-width: 1200px;}
#dl_bao{width: auto;min-width: 1200px;}
#dl_content{width: auto;width: 1200px;margin-bottom: 50px;overflow: hidden;}
#dl_cont{width: 1200px;margin:0 auto;position:relative;}
.dl_carousel{position: relative;overflow: hidden;width: 980px;margin: 0 0 0 220px;height: 480px;}
.dl_carousel  ul{position: absolute;left:0px;top: 0;overflow: hidden;}
.dl_carousel  ul li{float: left;width: 980px;height: 480px;}
.dl_carousel  ul li img{width: 980px;height: 480px;} 
 .dl_carousel .page{position:absolute;right:10px;bottom:10px;padding:10px;}
 .dl_carousel .page span{cursor:pointer;display:inline-block;margin:0 5px;width:26px;height:26px;line-height:26px;background-color:#efefef;text-align:center;border-radius:50%;box-shadow:0 0 10px #000;}
 .dl_carousel .page span.active{background-color:#C0C0C0;color:#FFCC00;}  
  
  .all_subclass{position: absolute;left: 0;top: 0px;}
/*---------------内部内容开始--------------------------*/

#dl_main{width: auto;min-width: 1200px; } 
/*---- 发现好货------*/ 
#dl_main .index_title {width: 430px;height: 1px;background-color: #676767;margin: 0 auto 16px;position: relative;font-size: 30px;}
#dl_main .index_title p {position: absolute;top: -22px;left: 130px;text-align: center;padding: 0 10px;background-color: whitesmoke;}
/*-----今日必看-----*/ 
#index_must{margin: 0 auto;width: 1200px;}
#dl_main h2{font-weight:normal;padding-bottom: 14px;position: relative;padding-top: 34px;font-size: 16px;margin-left: 11px;}
#dl_main h3{font-weight: normal;line-height: 36px;font-size: 16px;padding-left: 36px;}
#index_must .title_must{background:url(../img/ico-title.png) no-repeat left 0px;display: inline-block;width: 32px;height: 38px;line-height: 38px;vertical-align: middle;margin-right: 5px;}
#index_must .evey_see{padding-left:28px;}
/*-------*/
#index_must .box{height: 294px;margin-left: -16px;overflow: hidden;}
#index_must .box li{float: left;margin-left: 16px;border: 1px solid transparent;cursor: pointer;}
#index_must .box li .cover_img926{width: 580px;height: 282px;}
#index_must .box li:hover{border: 1px solid #e5e5e5;box-shadow: 0 0 10px #d5d2d2;} 
/*------今日上新---------*/  
#index_new{margin: 0 auto;width: 1200px;}
#index_new .title_new{background:url(../img/ico-title.png) no-repeat left -38px;display: inline-block;width: 32px;height: 38px;line-height: 38px;vertical-align: middle;margin-right: 5px;}
#index_new h2 .change{position: absolute;right: 40px;font-size: 14px;background-color: #e14958;color: #fff;width: 90px;height: 29px;text-align: center;line-height: 29px}
#index_new h2 .change .new-chage{background: url(../img/ico.png) no-repeat left -134px;display: inline-block;width: 23px;height: 18px;margin-left: 8px;vertical-align:middle ;}
#index_new .new_box {overflow: hidden;height: 650px;}
#index_new  ul li img{width: 280px;height: 238px;display: block;} 
#index_new  ul{margin-left: -20px;margin-bottom: 20px;overflow: hidden;position: relative;}
 #index_new .new_box ul li{background-color: #fff;width: 280px;height: 378px;border: 1px solid #e5e5e5;margin-left: 20px;float: left;}
/*加入购物车*/
.new_box ul li .option{width: 283px;height: 30px;font-size: 14px;line-height: 30px;/*color: #fff;*/text-align: center;
				position: absolute;display: none;top: 210px; background: #C7DDEF;} 
.new_box ul li .option .new_car{display: inline-block;width: 28px;height: 18px;background: url(../img/ico.png) no-repeat left -85px;vertical-align: middle;line-height: 18px;}
	/*----------*/  
.new_box ul li .date{padding: 8px 26px 0;} 
.new_box ul li .date .price .collect {line-height: 30px;float: right;}
.new_box ul li .date .price{padding-bottom: 8px;}			
.new_box ul li .date .new_price,.new_box ul li .date .redel {padding-right: 4px;font-size: 20px;color: #e14958;}
.new_box ul li .date .old_price {color: #895ca5;text-decoration: line-through;} 
.new_box ul li:hover {box-shadow: 0 0 10px #d5d2d2;}
.new_box ul li .date .title{line-height: 18px;height: 36px;overflow: hidden;color: #666;}
.new_box ul li .date .title .discount {color: #e34755;}  

.new_box ul li:hover .option {display: block;}   
 #index_new .new_box .new_list_max li{width: 584px;height: 238px;position: relative} 
 #index_new .new_box .new_list_max li img{height: 238px;float: left;}
 #index_new .new_box .new_list_max li .date{width: 230px;float: right;padding: 80px 24px 0 50px;} 
/*-/*------今日上新结束--------------------------------------------------*/
/*-------------神马值得买---------------------*/ 
.value_buy{margin: 0 auto;width: 1200px;}
.value_buy .title-worth{background:url(../img/ico-title.png) no-repeat left -76px;display: inline-block;width: 32px;height: 38px;line-height: 38px;vertical-align: middle;margin-right: 5px;}
.value_buy .help_pic{margin-left: 20px;font-size: 12px;}
.value_buy .ico-title-1{background:url(../img/ico-title-1.png) no-repeat ;display: inline-block;width: 12px;height: 12px;vertical-align: middle;text-align: center;margin-right: 5px;}

.worth-box{background-color:#FFFFFF;padding-bottom: 52px;margin-bottom: 42px;padding-top: 42px;}
.worth-box .country-box li{float: left;width: 208px;margin: 0 10px;cursor: pointer;}
.worth-box .country-box li img,.worth-box .country-box li a {width: 208px;height: 140px;display: block;}
.worth-box .country-box li a:hover {box-shadow: 0 0 10px #d5d2d2;}
.country-box {position: relative;height: 140px;overflow: hidden;margin-left: 30px;}
/*-------------------神马值得买结束----------------------------*/
/*----------------------------------------------*/
#dl_main h3.say_good{width: 1200px;margin: 0 auto;font-weight: normal;line-height: 36px;font-size: 16px;padding-left: 36px;} 
/*--------------大家都说好---------*/
.index-good{width: 1200px;margin: 0 auto; background-color: #fff;margin-bottom: 42px;}
.index-good .good_tab{padding-top: 42px;border-bottom: solid 1px #e5e5e5;height: 30px;line-height: 30px;padding-left: 36px;margin-bottom: 40px;}
.index-good .good_tab li{float: left;margin-right: 10px;padding: 0 12px;font-size: 16px;border: 1px solid #e5e5e5;border-bottom: none 0;height: 29px;line-height: 29px;cursor: pointer;}
.index-good .good_tab li.current{border: 1px solid #e14958;border-bottom: none 0;background-color: #e14958;color: #fff;}
.index-good  img{ width: 280px;height: 280px;display: block;}  
.index-good ul li .date{padding: 8px 26px 0;} 
.index-good ul li .date .price .collect {line-height: 30px;float: right;}
.index-good ul li .date .price{padding-bottom: 8px;}			
.index-good ul li .date .new_price,.index-good ul li .date .redel {padding-right: 4px;font-size: 20px;color: #e14958;}
.index-good ul li .date .old_price {color: #895ca5;text-decoration: line-through;} 
.index-good ul li:hover {box-shadow: 0 0 10px #d5d2d2;}
.index-good ul li .date .title{line-height: 18px;height: 36px;overflow: hidden;color: #666;}
.index-good ul li .date .title .discount {color: #e34755;} 

.index-good .good_list {margin-left: -33px;width: 1200px;margin: 0 auto;height: 800px;overflow: hidden;}
.index-good .good_list li{float: left;width: 280px;margin-left: 100px;position: relative;padding-bottom: 20px;margin-bottom: 20px;border: 1px solid #fff;}
.index-good .good_list li:hover {border: 1px solid #e5e5e5;box-shadow: 0 0 10px #d5d2d2;}
 
 h3 .ico-title-1{background:url(../img/ico-title-1.png) no-repeat ;display: inline-block;width: 12px;height: 12px;vertical-align: middle;text-align: center;margin-right: 5px;}
 /*-------------买了又买-------------------*/

.index-buy-again{min-width: 1200px;width: auto;margin: 20px 0;} 
.index_buy_list{width: 1200px;margin: 0 auto;overflow: hidden;background: white;padding-left: 10px}
.index_buy_list dl{float: left;width: 400px;}
.index_buy_list dt{width: 394px;text-align: center;color: red;}
.index_buy_list dl:first-child {border: 0;}
 .index_buy_list dt {line-height: 46px;text-align: center;border-bottom: solid 1px #eee;font-size: 16px;color: #e14958;}
.index_buy_list dd {position: relative;border-bottom: solid 1px #eee;}
.index_buy_list .first {padding: 38px 20px 10px;}
.index_buy_list .first .cover-img {width: 146px;height: 130px;float: left;}
.index_buy_list .first .title {line-height: 18px;height: 56px;overflow: hidden;}
.index_buy_list .first .price {padding: 6px 0 10px;}
.index_buy_list .first .state {color: #999;} 
.index_buy_list .first .state a {line-height: 20px;color: #999;}
.index_buy_list .data {overflow: hidden;padding-left: 10px;}
.index_buy_list .tag{position: absolute;width: 54px;height: 20px;line-height: 20px;
	color: #fff;padding-left: 16px;display: block;left: 0;top: 0;background-color: #e14958;font-size: 14px;}
.index_buy_list .cover {width: 45px;height: 45px;float: left;}
.index_buy_list .ex-first .img-link {display: block;padding: 3px 20px 3px 92px;}
.index-buy-list .ex-first .data {line-height: 45px;height: 45px;white-space: nowrap;}
/*---------新品黑马----------------------------------------*/
.index_dark_horse{min-width: 1200px;width: auto;margin: 20px 0;}
.dark_horse_list{width: 1200px;margin: 0 auto;overflow: hidden;background: #FFFFFF;}

.dark_horse_list li{width: 380px;height: 398px;position: relative;float: left;margin-left: 20px; background-color: #fff;margin-bottom: 20px;}
.dark_horse_list li img{width: 380px;height: 280px;display: block;}
/*--------------*/
.dark_horse_list ul li .option{width: 380px;height: 30px;font-size: 14px;line-height: 30px;text-align: center;
				position: absolute;display: none;top: 250px; background: #C7DDEF;}  
.dark_horse_list ul li .option .new_car{display: inline-block;width: 28px;height: 18px;background: url(../img/ico.png) no-repeat left -85px;vertical-align: middle;line-height: 18px;}
	/*----------*/  
.dark_horse_list ul li .date{padding: 8px 26px 0;width: 280px;} 
.dark_horse_list ul li .date .price .collect {line-height: 30px;float: right;}
.dark_horse_list ul li .date .price{padding-bottom: 8px;}	 		
.dark_horse_list ul li .date .new_price,#lazy ul li .date .redel {padding-right: 4px;font-size: 20px;color: #e14958;}
.dark_horse_list ul li .date .old_price {color: #895ca5;text-decoration: line-through;} 
.dark_horse_list ul li:hover {box-shadow: 0 0 10px #d5d2d2;}
.dark_horse_list ul li .date .title{line-height: 18px;height: 36px;overflow: hidden;color: #666;}
.dark_horse_list ul li .date .title .discount {color: #e34755;}  
.dark_horse_list ul li:hover .option {display: block;} 

/*----------懒加载的样式--------------*/
#lazy{width: 1200px;margin: 0 auto;margin-bottom: 22px;overflow: hidden;}
#lazy li{width: 580px;height: 238px;position: relative;float: left;margin-left: 20px; background-color: #fff;margin-bottom: 20px;}
#lazy li img{height: 238px;float: left; width: 280px;display: block;}
/*--------------*/
#lazy ul li .option{width: 283px;height: 30px;font-size: 14px;line-height: 30px;text-align: center;
				position: absolute;display: none;top: 210px; background: #C7DDEF;}  
#lazy ul li .option .new_car{display: inline-block;width: 28px;height: 18px;background: url(../img/ico.png) no-repeat left -85px;vertical-align: middle;line-height: 18px;}
	/*----------*/  
#lazy ul li .date{padding: 8px 26px 0;width: 210px;float: right;padding: 70px 24px 0 50px;} 
#lazy ul li .date .price .collect {line-height: 30px;float: right;}
#lazy ul li .date .price{padding-bottom: 8px;}	 		
#lazy ul li .date .new_price,#lazy ul li .date .redel {padding-right: 4px;font-size: 20px;color: #e14958;}
#lazy ul li .date .old_price {color: #895ca5;text-decoration: line-through;} 
#lazy ul li:hover {box-shadow: 0 0 10px #d5d2d2;}
#lazy ul li .date .title{line-height: 18px;height: 36px;overflow: hidden;color: #666;}
#lazy ul li .date .title .discount {color: #e34755;}  
#lazy ul li:hover .option {display: block;} 

/*-----------右侧固定菜单------------------------*/
.dl_scroll{position: fixed;height: 100%;min-height: 480px;right: 0;top: 0;text-align: center;color: white;} 
.dl_scroll #scroll_left{width: 40px;height: 100%;background: #333;float: left;position: relative;}
.dl_scroll #scroll_left .car-top{position: relative;margin-top: 110px;margin-bottom: 22px;padding: 0 0 10px;}
.dl_scroll #scroll_left .car-top:hover{background-color:#e34755 ;}
.dl_scroll  .carline{width: 22px;height: 1px;background: #515151;margin: 0 0 14px 9px;}
.dl_scroll #scroll_left .ico_car{display: block;background: url(../img/ico_sidebar.png) -26px top no-repeat;width:33px;height: 26px;}
.dl_scroll #scroll_left .name{padding: 10px;}
.dl_scroll #scroll_left .left_num{background: #e34755;display: block;width: 20px;height: 22px;line-height: 20px;border-radius: 50%;margin-top: 7px;margin: 0 auto;}
.dl_scroll #scroll_left .yen{height: 37px;padding-bottom: 10px;width:40px;height:  22px;display: block;background: url(../img/ico_sidebar.png) 6px top no-repeat;} 
.dl_scroll #scroll_left .yhui{display:none;position:absolute;top:0px;right: 40px;width: 100px;height: 42px;line-height: 42px;background: #666;} 
.dl_scroll #scroll_left .heart{background: url(../img/ico_sidebar.png) -60px top no-repeat;width: 40px;height: 30px;display: block;margin-bottom:8px;}
.dl_scroll #scroll_left .shouc{display:none;position:absolute;top:0px;right: 40px;width: 100px;height: 42px;line-height: 42px;background: #666;} 

.dl_scroll #scroll_left .car-mind,.dl_scroll #scroll_left .min_2{position: relative;}
.dl_scroll #scroll_left .yen:hover,.dl_scroll #scroll_left .heart:hover,.dl_scroll #scroll_left .scro_top:hover{background-color: #E34755;}
.dl_scroll #scroll_left .scro_top{width: 50px;height: 50px;position: absolute;top: 96%;left: 60%;display:inline-block;margin: -25px 0 0 -25px;color:white;line-height:50px;}
.dl_scroll #scroll_left .car-last{display: none;}
.dl_scroll #scroll_left .erwma{background: url(../img/ico-qrcode.png) no-repeat; position: absolute;bottom: 60px;left: 9px;width: 22px;height: 22px;}

.dl_scroll #scroll_right{width:0px;height: 100%;background: #f4f4f4;float: right;color: black;}
.dl_scroll #scroll_right .close{display: none; position: absolute;right: 10px;top: 10px;width: 16px;height: 16px;cursor: pointer;border: 1px solid #999;background: red;color: #fff;}
.dl_scroll #scroll_right .my_car{text-align: center;line-height: 50px;text-indent: 20px;}
.dl_scroll #scroll_right .mycar_list{height: 200px;background: url(../img/cart_empty.png) center 46px no-repeat;}

