@charset "utf-8";
/*头部*/
.da-cart{min-width: 1200px;width: auto;}
.cart-top{width: 1200px;margin: 0 auto;overflow: hidden;padding-bottom: 20px;} 

.logo {float: left;background: url(../img/logo.png) no-repeat;width: 280px;margin-right: 20px;height: 40px}
.cart-step{float: right;border: 1px solid #e5e5e5;height: 38px;width: 615px;margin-top: 10px;}
.da-cart .icon-number {
	width: 20px;height: 20px;display: inline-block;text-align:center;line-height: 20px;	border-radius: 50%;margin: 0 10px 0 52px;font-family: arial;font-weight: 700;background-color: #e5e5e5;color: #fff;}
.da-cart .cart-step li { 
	color: #cacaca;height: 40px;font-size: 14px;line-height: 40px;float: left;width: 205px;position: relative;}
.da-cart .cart-step li .triangle {border-width: 20px 11px;border-style: solid;position: absolute;right: -22px;width: 0;height: 0;line-height: 0;top: 0;display: none;}
.da-cart .cart-step li .icon-to {position: absolute;left: auto;right: 0;top: 10px;}
.da-cart .cart-step li.current {color: #fff;background-color: #f25e5a;z-index: 1;top: -1px;left: -1px;}
.da-cart .cart-step li.current .icon-number {background-color: #fff;color: #f25e5a;}
/*购物车内部*/
#carlist{padding: 60px 0;min-width: 1200px;width: auto;}
.cart-thead{width: 1200px;margin: 0 auto;overflow: hidden;}
.cart-thead li{float: left;}
.date-empty{height: 160px;margin: 0 auto 50px;width: auto;width: 1200px;} 
 #carlist .date-empty td {padding-top: 80px;} 
 .date-empty td strong {vertical-align: middle; display: block;width: 176px;height: 136px;background: url(../img/empty.png) no-repeat ;float: left;margin-right: 30px}
 .date-empty td span {display: block;padding-top: 16px;height: 100px;float: left;font-size: 14px}
.date-empty td span a {font-size: 12px;color: #333;float: left;margin-top: 10px}

.cart-thead {border: 1px solid #ccc;height: 38px;line-height: 38px;}
.cart-thead li.th {text-align: center;}
.cart-thead li.th-check {width: 100px;text-align: left;}
 .cart-thead li.th-check input {margin-left: 18px;margin-right: 16px;}
.cart-thead li.th-name {width: 440px;}
.cart-thead li.th-price {width: 120px;}
.cart-thead li.th-number {width: 116px;}
.cart-thead li.th-total {width: 128px;}
.cart-thead li.th-handle {overflow: hidden;float: none;}
/*-----------------------------------*/
.data_list{margin: 30px auto 30px;width: auto;min-width: 1200px;}
table.listtab {min-height: 160px;margin: 0 auto 30px;width: auto;min-width: 1200px;}
table.listtab tr{border: 1px solid #dadada;height: 60px;padding: 10px 0px;width: 1200px;display: block;}
#carlist table.listtab td{padding-left: 10px;} 
table.listtab td:first-child{width: 100px;}
table.listtab td.num{width: 136px;}
table.listtab td.price{width: 70px;text-align:left;}
table.listtab td.name{width: 440px;overflow: hidden;}
table.listtab td.name p{width: 315px;float: right;border: none;height: 60px;margin-right: 37px;}
table.listtab td img{width: 60px;height: 60px;float: left;margin-right: 10px;}
 table.listtab td.total{width: 128px;color: red;font-size: 18px;}
table.listtab td:last-child{text-align:left;margin-left: 10px;}   
 table.listtab td .numb{border: none; margin:0 5px;border-right: 1px solid #ccc;border-left: 1px solid #ccc;text-align: center;height: 30px;}
 table.listtab td p{width: 106px;border: 1px solid #ccc;text-align: center;}
table.listtab td .del,table.listtab td .add{color: red;font-size: 18px;cursor: pointer;}
table.listtab td .delete{text-align: center;display: inline-block;width: 220px;} 

/*-----------------------------*/
.total-box{width: 1188px;margin: 0 auto;height: 58px;border: 1px solid #CCCCCC;background: #F2F2F2;padding-left: -20px;}
.total-box .sel-all{width: 100px;float: left;padding-top: 22px;}
.total-box .sel-all input{margin: -2px 16px 0 18px;vertical-align: middle;}
.total-box .option{padding-top: 22px;float: left;}
.total-box .option a{margin-right: 40px;}
 .total-box .toolbar .total-count{float: right;padding-right: 18px;}
.total-box .toolbar{width: 590px;float: right;}
.total-box .toolbar .btn-count{float: right;width: 120px;background: #f25e5a;text-align: center;line-height: 60px;font-size: 18px;color: #FFFFFF;}
.total-box .toolbar .ammount{float: right;padding-right: 32px;padding-top: 12px;}
.total-box .toolbar .total-count .item{width: 140px;float: left;text-align: right;}
.total-box .toolbar .rede1{color:#e14958;}
.total-box .toolbar .f20{font-size: 20px;}

.cart-collection{width: 1200px;margin: 0 auto;padding-left: 20px;padding-top: 46px;}
.cart-collection .title{width: 142px;font-size: 14px;border-top: dotted 1px #ccc;margin: 0 auto;}
.cart-collection .title p{width: 80px;background: #FFFFFF;text-align: center;margin: -12px auto 0;}
.cart-collection .data-empty1{width: auto;height: 60px;margin: 18px auto 0;}
.cart-collection .data-empty1 td{padding: 10px 0;font-size: 16px;}
.cart-collection .data-empty2 a{font-size: 16px;background: #df4b5b;width: 170px;height: 40px;text-align: center;line-height: 40px;color: white;display: block;text-decoration: none;}

